*{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-x: hidden;
    font-family: 'Fira Sans';
}
body{
    background-color: #F1F1F3;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

h1{
    font-weight:bolder;
    color:#0E0E0E;
    font-size: 30px;
}

.btn-2{
    background-color: white;
    color: #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #006A50;
    border-style: double;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;

}

.btn-2:hover{
    background-color: #006A50;
    color: white;
}
.section-title{
    font-size: 40px;
    color:#0E0E0E;
    font-weight: bold;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border: none;
    border-radius: 1%;
    border-width: 30px;
    height: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.banner-content{
    margin-left: 100px;
    margin-top: 0px;
    margin-right:50px;
}
.sub-title{
    font-size: 24px;
    font-weight: bold;
    color:rgba(14, 14, 14, 0.7);
    margin-bottom: 30px;
}

.title{
    font-size: 56px;
    color: #0E0E0E;
    font-weight: bolder;
}
.btn-1{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.btn-1:hover{
    background-color: #adc6c3;
    border-radius: 10px;
    font-size:20px;
    font-weight: bolder;
}
.banner-pic{
    width: 1005px;
    margin-right: 150px;
    margin-top: 0px;
    height: 350px;
    

}
.banner-img{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.card-title{
    font-size: 20px;
    color:#0E0E0E;
    font-weight: bold;
}
.card-text{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
}

.card1{
    border-radius: 3%;
    border-style:none;
    background-color: #FFFFFF;
}

.section-text{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
}
.section-title2{
    font-size: 40px;
    color:#0E0E0E;
    font-weight: bold;
}


.card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.card3{
    border-radius: 3%;
    border-style:none;
    background-color: rgba(84, 144, 245, 0.2);
    height: 270px;
}
.card4{
    border-radius: 3%;
    border-style:none;
    background-color: #C6E4D6;
    height: 270px;
}
.card5{
    border-radius: 3%;
    border-style:none;
    background-color: #F7EBCF;
    height: 270px;
}
.card-text2{
    
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
}

.card-title2{
    font-size: 20px;
    color:#0E0E0E;
    font-weight: bold;

}

.btn-3{
    background-color: #5490F5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
}

.btn-3:hover{
    background-color: #6e7c9b;
    color: rgb(19, 31, 43);
    border-radius: 5px;
    border-style: ridge;
    font-size: 20px;
    font-weight: bolder;
    border-color: white;
}
.btn-4{
    background-color:#09A15C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    
}
.btn-4:hover{
    background-color: #a0cab2;
    color: rgb(3, 28, 13);
    border-radius: 5px;
    border-style: ridge;
    font-size: 20px;
    font-weight: bolder;
    border-color: white;
}
.btn-5{
    background-color: #FFC239;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
  
}
.btn-5:hover{
    background-color: #f5ed54;
    color: rgb(16, 17, 3);
    border-radius: 5px;
    border-style: ridge;
    font-size: 20px;
    font-weight: bolder;
    border-color: white;
}

.card6{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 1%;
    background-color: #FFFFFF;
}
.section-text3{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.8);
    font-weight: normal;
    margin-top: 0px;
    z-index: 4;

}
.section-title3{
    font-size: 20px;
    color:#0E0E0E;
    font-weight:600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.section-subtitle3{
    font-size: 16px;
    font-weight: normal;
    color:rgba(14, 14, 14, 0.6);
    margin-bottom: 30px;
    margin-top: 0px;
}
.yunus{
    width: 5%;
    color:rgba(14, 14, 14, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 2;
    overflow: auto;
}


.opinion-table {
    font-family: Arial, sans-serif;
    display:list-item;
    gap:16px;
    padding: 48px;
    border-radius: 16px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
}
  
  
  .opinion-table h2 {
    font-size: 24px;
    font-weight: bold;
    text-align:start;
    margin-bottom: 20px;
  }
  
  .opinion-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .opinion-table thead {
    background-color: #C6E4D6;
  }
  
  .opinion-table th {
    padding: 15px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: #000;
  }
  
  .opinion-table td {
    padding: 15px;
    font-size: 16px;
    border-top: 1px solid #ddd;
  }
  
  .opinion-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .opinion-table select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #C6E4D6;
  }
  
    .opinion-table select:hover {
        background-color: #146C43;
        color:white;
    }
  .opinion-table select:focus {
    outline: none;
    border-color: #146C43;
  }
.opinion{
   padding:24px;
}


.news-title{
    font-size: 40px;
    color:#0E0E0E;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-subtitle{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
    margin-bottom: 20px;
}

.new-title2{
    font-size: 32px;
    color:#0E0E0E;
    font-weight: bold;
    margin-bottom: 20px;
}

.news-date{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
    margin-bottom: 20px;
}
.news-text{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
    margin-bottom: 20px;
}
.news-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn-recent{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
}

.btn-recent:hover{
    background-color: #0df0d5;
    border-radius: 10px;
    font-size:20px;
    font-weight: bolder;
    color:#000;
}

.news-image{
    width: 408px;
    height: 306px;
    border-radius: 6%;
    border-style: none;
}

 .donate-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 50px; */
    border-radius: 10px;
    border-style: none;
    text-align: center;

    
}

.donate-card1{
    width: 243px;
    height: 128px;
    border-radius: 6%;
    border-style: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.donate-text2{
    font-size: 28px;
    color:rgba(14, 14, 14, 0.8);
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.donate-others{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* form{ 
  
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 0px;
    border-style: none;
}

.donate-input{
    width: 0px;
   height: 0px;
    margin: 10px;
    border-radius: 0px;
    border-style: none;
    background-color: #F1F1F3;
} */


.donate-card8{
    width: 1200px;
    height: 64px;
    border-radius: 6%;
    border-style: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate-text3{
    font-size: 28px;
    color:rgba(14, 14, 14, 0.8);
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.btn-donate{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
}

.btn-donate:hover{
    background-color: #0df0d5;
    border-radius: 10px;
    font-size:20px;
    font-weight: bolder;
    color:#000;
} 

.newsletter{
    width: 1280px;
    height: 395px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #C6E4D6;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.newsletter-title{
    font-size: 40px;
    color:#0E0E0E;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-text{
    font-size: 16px;
    color:rgba(14, 14, 14, 0.7);
    font-weight: normal;
    margin-bottom: 20px;
}

.newsletter-content{
    display: flex;
   flex-direction: column;
    align-items: center;
}

.newsletter-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

form{
    display: flex;
    align-items: center;
    gap: 0px;
}
form input{
    width: 600px;
    height: 55px;
    border-radius: 5px;
    border-style: none;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    
}


.btn-newsletter{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    height: 55px;
    margin: 0;
}

.btn-newsletter:hover{
    background-color: #0df0d5;
    border-radius: 10px;
    font-size:20px;
    font-weight: bolder;
    color:#000;
}

.donate-card1:hover{
    background-color: #C6E4D6;
}

.footer-content{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.footer-title{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.footer{
    display: flex;
   flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}
