*{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: #F1F1F3;
}

nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

h1{
    font-weight:bolder;
    color:#0E0E0E;
    font-size: 30px;
}

.btn-2{
    background-color: white;
    color: #006A50;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #006A50;
    border-style: double;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;

}

.btn-2:hover{
    background-color: #006A50;
    color: white;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border: none;
    border-radius: 1%;
    border-width: 30px;
    height: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.banner-content{
    margin-left: 100px;
    margin-top: 0px;
    margin-right:50px;
}
.sub-title{
    font-size: 20px;
    font-weight:bolder;
    color: #0E0E0E;
    margin-bottom: 30px;
}
.title{
    font-size: 60px;
    color: #0E0E0E;
    font-weight: bolder;
}
.btn-1{
    background-color: #006A50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.btn-1:hover{
    background-color: #adc6c3;
    border-radius: 10px;
    font-size:20px;
    font-weight: bolder;
}
.banner-pic{
    width: 452px;
    margin-right: 300px;
    margin-top: 0px;
    height: 400px;
    

}
.banner-img{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.card1{
    border-radius: 3%;
    border-style:none;
    background-color: #FFFFFF;
}


.card2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card3{
    border-radius: 3%;
    border-style:none;
    background-color: #FFFFFF;
    height: 270px;
}

.btn-3{
    background-color: #5490F5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
}

.btn-3:hover{
    background-color: #6e7c9b;
    color: rgb(19, 31, 43);
}
.btn-4{
    background-color:#09A15C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    
}
.btn-4:hover{
    background-color: #a0cab2;
    color: rgb(3, 28, 13);
}
.btn-5{
    background-color: #FFC239;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
  
}
.btn-5:hover{
    background-color: #f5ed54;
    color: rgb(16, 17, 3);
}